<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnm.shw">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".layout.RelativeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LandActivity"/>
        <activity android:name=".fragment.CalActivity" />
        <activity android:name=".intent.IntentMyActivity" />
        <activity android:name=".intent.IntentHelloActivity" />
        <activity android:name=".intent.IntentActivity" />
        <activity android:name=".parsing.ParsingActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".draw.DrawActivity" />
        <activity android:name=".preference.PreferenceActivity" />
        <activity android:name=".shoppingmall.ShoppingMallActivity" />
        <activity android:name=".listview.GridLayoutActivity" />
        <activity android:name=".listview.Recycler2Activity" />
        <activity android:name=".listview.RecyclerActivity" />
        <activity android:name=".clipboard.ClipboardIntentActivity" />
        <activity android:name=".clipboard.Clipboard1Activity" />
        <activity android:name=".file.FileDeleteActivity" />
        <activity android:name=".file.ResourceFileActivity" />
        <activity android:name=".file.SdCardStorageActivity" />
        <activity android:name=".file.InternalStorageActivity" />
        <activity android:name=".dialogbox.InputDialogBoxActivity" />
        <activity android:name=".dialogbox.ListDialogBoxActivity" />
        <activity android:name=".dialogbox.DialogBoxActivity" />
        <activity android:name=".contextmenu.ContextMenuActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".menubar.MenuActivity" />
    </application>

</manifest>